.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  height: 20px;
  background: transparent url("../../assets/closeButtonGrey.svg") center
    no-repeat;
}

.modal__close-white {
  background: transparent url("../../assets/closeButton.png") center no-repeat;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  border: none;
}

.modal__radio-button {
  margin-right: 5px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__label_type_radio {
  border: none;
}

.modal__label {
  padding-top: 24px;
}

.modal__fieldset {
  padding: 0;
}

.modal__fieldset_type_radio {
  border: none;
  padding-left: 5px;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  border-bottom: 1px solid black;
  width: 100%;
}

.modal__legend {
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.modal__legend_list_item {
  padding-bottom: 8px;
  border: none;
}

.modal__submit {
  margin-top: 24px;
  max-width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  color: white;
  background: #000000;
}

.modal__submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__content {
  border-radius: 16px;
  font-family: "CabinetGrotesk-Medium";
}

.modal__caption {
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__footer {
  padding: 20px;
}
