.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
    visibility: visible;
}

.modal__title{
    margin: 0; 
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  height: 20px;
  background: transparent url("../../assets/closeButtonGrey.svg") center no-repeat;

}

.modal__close-white{
  background: transparent url("../../assets/closeButton.png") center no-repeat;

}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__input {
    display: block;
    border: none;
}

.modal__radio-buttons {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal__label_type_radio{
  border: none;
}

.modal__label{
  border-bottom: 1px solid black;
  width: 100%;
}

.modal__fieldset{
  padding: 0;
}

.modal__fieldset_type_radio{
border: none;
}