.card {
  width: 323px;
  border: 1px;
  border-radius: 8px;
  position: relative;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
    width: 100%;
}