.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  display: flex;
  flex-wrap: wrap;
}

.cards {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
