.modal {
  display: flex;
}

.modal__content {
  border-radius: 16px;
}

.modal__caption {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__footer {
  padding: 20px;
}
