.modal {
  display: flex;
}

.modal__content {
  border-radius: 16px;
  font-family: "CabinetGrotesk-Medium";
}

.modal__caption {
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__footer {
  padding: 20px;
}

.modal__title {
  font-size: 16px;
  line-height: 20px;
}

.modal__label{
  padding-top: 24px;
}

.modal__legend{
  padding-top: 24px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}

.modal__label_type_radio{
  border: none;
  padding-left: 5px;
  font-size: 16px;
  line-height: 20px;
}

.modal__legend_list_item{
  padding-bottom: 8px;
}

.modal__submit{
  margin-top: 24px;
  max-width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  color: white;
}